<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.dao.JXSMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.domain.JXS" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="fullname" property="fullname" jdbcType="VARCHAR" />
    <result column="openbankname" property="openbankname" jdbcType="VARCHAR" />
    <result column="openbankno" property="openbankno" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="telno" property="telno" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="reserve2" property="reserve2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, alias, fullname, openbankname, openbankno, address, linkman, mobile, telno, comment, 
    reserve1, reserve2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_jxs
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_jxs
    where 1=1 
    <if test="name!=null and name!=''">
        and (alias like  CONCAT(CONCAT('%',#{name}),'%')  or fullname like CONCAT(CONCAT('%',#{name}),'%'))
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_jxs
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.domain.JXS" >
    insert into t_jxs (id, alias, fullname, 
      openbankname, openbankno, address, 
      linkman, mobile, telno, 
      comment, reserve1, reserve2
      )
    values (#{id,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{fullname,jdbcType=VARCHAR}, 
      #{openbankname,jdbcType=VARCHAR}, #{openbankno,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{telno,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.domain.JXS" >
    insert into t_jxs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="fullname != null" >
        fullname,
      </if>
      <if test="openbankname != null" >
        openbankname,
      </if>
      <if test="openbankno != null" >
        openbankno,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="telno != null" >
        telno,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="reserve1 != null" >
        reserve1,
      </if>
      <if test="reserve2 != null" >
        reserve2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="fullname != null" >
        #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="openbankname != null" >
        #{openbankname,jdbcType=VARCHAR},
      </if>
      <if test="openbankno != null" >
        #{openbankno,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telno != null" >
        #{telno,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        #{reserve2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.domain.JXS" >
    update t_jxs
    <set >
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="fullname != null" >
        fullname = #{fullname,jdbcType=VARCHAR},
      </if>
      <if test="openbankname != null" >
        openbankname = #{openbankname,jdbcType=VARCHAR},
      </if>
      <if test="openbankno != null" >
        openbankno = #{openbankno,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="telno != null" >
        telno = #{telno,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null" >
        reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null" >
        reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.domain.JXS" >
    update t_jxs
    set alias = #{alias,jdbcType=VARCHAR},
      fullname = #{fullname,jdbcType=VARCHAR},
      openbankname = #{openbankname,jdbcType=VARCHAR},
      openbankno = #{openbankno,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      telno = #{telno,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      reserve1 = #{reserve1,jdbcType=VARCHAR},
      reserve2 = #{reserve2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>