<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.dao.SysBranchMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.domain.SysBranch" >
    <id column="BRANCHID" property="branchid" jdbcType="VARCHAR" />
    <result column="BRANCHNAME" property="branchname" jdbcType="VARCHAR" />
    <result column="PARENTID" property="parentid" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="ALIAS" property="alias" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    BRANCHID, BRANCHNAME, PARENTID, PHONE, ADDRESS, ALIAS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_BRANCH
    where BRANCHID = #{branchid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_BRANCH
    where BRANCHID = #{branchid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.domain.SysBranch" >
    insert into SYS_BRANCH (BRANCHID, BRANCHNAME, PARENTID, 
      PHONE, ADDRESS, ALIAS
      )
    values (#{branchid,jdbcType=VARCHAR}, #{branchname,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.domain.SysBranch" >
    insert into SYS_BRANCH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="branchid != null" >
        BRANCHID,
      </if>
      <if test="branchname != null" >
        BRANCHNAME,
      </if>
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="alias != null" >
        ALIAS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="branchid != null" >
        #{branchid,jdbcType=VARCHAR},
      </if>
      <if test="branchname != null" >
        #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.domain.SysBranch" >
    update SYS_BRANCH
    <set >
      <if test="branchname != null" >
        BRANCHNAME = #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        PARENTID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        ALIAS = #{alias,jdbcType=VARCHAR},
      </if>
    </set>
    where BRANCHID = #{branchid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.domain.SysBranch" >
    update SYS_BRANCH
    set BRANCHNAME = #{branchname,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      ALIAS = #{alias,jdbcType=VARCHAR}
    where BRANCHID = #{branchid,jdbcType=VARCHAR}
  </update>
  
  <select id="selectSubBranchList" parameterType="String" resultMap="BaseResultMap">
  	select * from SYS_BRANCH where parentid=#{parentid}
  </select>
</mapper>