<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.dao.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.domain.SysRole" >
    <id column="ROLEID" property="roleid" jdbcType="VARCHAR" />
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLEID, ROLENAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_ROLE
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.domain.SysRole" >
    insert into SYS_ROLE (ROLEID, ROLENAME)
    values (#{roleid,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.domain.SysRole" >
    insert into SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="rolename != null" >
        ROLENAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.domain.SysRole" >
    update SYS_ROLE
    <set >
      <if test="rolename != null" >
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.domain.SysRole" >
    update SYS_ROLE
    set ROLENAME = #{rolename,jdbcType=VARCHAR}
    where ROLEID = #{roleid,jdbcType=VARCHAR}
  </update>
  
  <select id="selectRoleList" parameterType="com.pujjr.domain.SysRole" resultMap="BaseResultMap">
  	select * from SYS_ROLE where 1=1 
  	<if test="rolename!=null">
  		and rolename like CONCAT(CONCAT('%',#{rolename}),'%')
  	</if>
  	order by roleid asc
  </select>
  
  <insert id="insertAutoKey" parameterType="Map">
  	insert into SYS_ROLE  (roleid,rolename) 
  	values
  	(
		(select max(to_number(roleid))+1
		from SYS_ROLE),
		#{rolename}
	) 
  </insert>
</mapper>